In [8]:
import pandas as pd

data = {'A':[70,77,83,90,97],'B':[37,43,50,57,63],'C':[3,10,17,23,30]}
df = pd.DataFrame(data)

In [9]:
df

    A   B   C
0  70  37   3
1  77  43  10
2  83  50  17
3  90  57  23
4  97  63  30

In [10]:
# How to change Rows name and Columns name
df.columns = ['Memory_Drug','Placebo','No_Treatment']
df.index = ['A','B','C','D','E']
df

   Memory_Drug  Placebo  No_Treatment
A           70       37             3
B           77       43            10
C           83       50            17
D           90       57            23
E           97       63            30